{% extends "base.html" %}
{% block content %}
<h1>Archivo de {{ SITENAME }}</h1>

<dl>
{% for article in dates %}
    <dt><h5>{{ article.locale_date }}</h5></dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
{% endblock %}
