{% extends "base.html" %}
{% block nav %}
<a href="{{ SITEURL }}">Blog</a> ›<a href="{{ article.category.url }}">{{ article.category }}</a> ›{{ article.title }}
{% endblock %}

{% block content %}
{{ super() }}
<section id="post" class="post hentry">
    <header>
    <h2 class="post-title" >{{ article.title }}</h2>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
    <div class="post-meta">
        <span class="meta-prep">Publicado </span>
        <abbr class="date" > 
            <a href="{{ SITEURL }}/{{ article.date|strftime("archive/%Y/%m/index.html") }}">{{ article.locale_date }} </a>
        </abbr>
        <span class="meta-prep"> | Etiquetas</span>
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
        <!-- TOBE COMMENTS -->
    </div>
    </header>
    <div class="post-entry">
        {{ article.content }}
    </div><!-- /.entry-content -->
    <footer class="post-meta">
        <span class="meta-prep">Categoría:</span>
        <abbr class="category">
            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </abbr>
    </footer>
    <section id="respond">
        <div id="disqus_thread">
        <!-- <script type="text/javascript">
        var disqus_identifier = "{{ article.url }}";
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script> -->
        </div>

    </section>
</section>


{% endblock %}
