{% extends "index.html" %}

{% block nav %}
<a href="{{ SITEURL }}">Blog</a> ››Categoría: <a href="{{ category.url }}">{{ category }}</a>
{% endblock %}

{% block content_title %}
<h4 class="content-archive">Artículos en la categoría <span style="color:rgb(0,102,204)">{{ category }}</span></h4>
{% endblock %}

