{% extends "index.html" %}

{% block nav %}
<a href="{{ SITEURL }}">Blog</a> ››Etiqueta: <a href="{{ tag.url }}">{{ tag }}</a>
{% endblock %}

{% block content_title %}
<h4 class="content-archive">Artículos etiquetados con <span style="color:rgb(0,102,204)">{{ tag }}</span>: </h4>
{% endblock %}

