{% extends "base.html" %}
{% block content %}
{% block content_title %}
<h4 class="content-archive">Etiquetas: </h4>
{% endblock %}
<ul>
{% for tag, articles in tags %}
    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
{% endfor %}
</ul>
{% endblock %}

